header {
    @import 'logo';
    @import 'page-name';

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    flex: 0 0 auto;
    color: #fff;
    background: $header-bg;
    padding: 1.25rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
