.logo {
    display: block;
    color: #fff;
    background: $logo-bg;
    font-size: 4.35rem;
    padding: 1.5rem 1rem 1rem;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover {
        background: $logo-bg-hover;
        transition: 0.3s;
        font-size: 5rem;
    }
}
