.columns {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;

    .column {
        flex: 1 1 33%;
    }

    .column-1 {
        @import 'css-is-awesome';

        text-align: left;
    }

    .column-2 {
        @import 'nabthat';

        display: none;
        text-align: center;

        @media (min-width: $md) {
            display: block;
        }
    }

    .column-3 {
        @import 'action-form';

        text-align: right;
    }
}
