* {
    box-sizing: border-box;
}

html {
    font-size: 12px;

    @media (min-width: $sm) {
        font-size: 12px;
    }

    @media (min-width: $md) {
        font-size: 13px;
    }

    @media (min-width: $lg) {
        font-size: 14px;
    }

    @media (min-width: $xl) {
        font-size: 15px;
    }

    @media (min-width: $xxl) {
        font-size: 16px;
    }

    body {
        position: relative;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $footer-bg;

        a {
            text-decoration: none;
            outline: none;
        }

        button,
        input {
            cursor: pointer;
            outline: none;
        }

        button,
        label,
        label span {
            user-select: none;
        }

        .container {
            margin: auto;
            width: 96%;

            @media (min-width: $xs) {
                width: 340px;
            }

            @media (min-width: $sm) {
                width: 540px;
            }

            @media (min-width: $md) {
                width: 920px;
            }

            @media (min-width: $lg) {
                width: 1140px;
            }

            @media (min-width: $xl) {
                width: 1366px;
            }

            @media (min-width: $xxl) {
                width: 1800px;
            }
        }
    }
}
