$header-bg: #0a0c10;
$logo-bg: #303030;
$logo-bg-hover: #e88301;
$content-bg: #2a2d36;
$content-font: #a2a8b8;
$footer-bg: #15161a;
$footer-font: #2a2d34;
$footer-border: #0a0b0f;
$btn-gradient-start: #cd7400;
$btn-gradient-end: #fe9e22;
